
<div class="board-boundary">
  <button (click)="onAddPlayer()">Ajouter un joueur</button><br/>
  <button (click)="reset()">Reset</button>
  <img class="space-top1" src="assets/9.jpg" />
  <div class="space-top2"></div>
  <div class="space-left1"></div>

  <div
    *ngFor="let player of players; let i = index"
    [style.background-color]="player.color"
    class="board-box"
    cdkDragBoundary=".board-boundary"
    cdkDrag
    (cdkDragEnded)="positionChanged(i, $event)"
    [cdkDragFreeDragPosition]="getPlayerPosition(player)">
  </div>
</div>
