
<div class="board-boundary">
  <button (click)="onAddPlayer()">Ajouter un joueur</button><br/>
  <button (click)="shuffle()">Mélanger les lieux</button><br/>
  <button (click)="reset()">Reset</button>

  <img class="space-top1" (src)= "spaces[1]" />
  <img class="space-top2" src="assets/4-5.jpg" />
  <img class="space-right1" src="assets/2-3.jpg" />
  <img class="space-right2" src="assets/6.jpg" />
  <img class="space-left1" src="assets/8.jpg" />
  <img class="space-left2" src="assets/10.jpg" />
  <div
    *ngFor="let player of players; let i = index"
    [style.background-color]="player.color"
    class="board-box"
    cdkDragBoundary=".board-boundary"
    cdkDrag
    (cdkDragEnded)="positionChanged(i, $event)"
    [cdkDragFreeDragPosition]="getPlayerPosition(player)">
  </div>
</div>
